<p>{{student.name}}{% if reference %}, {{reference}},{% endif %} asked us to email you a copy of their Certificate of Completion automatically.
    Please find it attached to this email.</p>
<p>If you have any questions about this certificate, please contact {{student.name}} at
    <a href="mailto:{{student.email}}">{{student.email}}</a>.</p>
<p>Kind Regards,<br/>OurParentingClass.com</p>
<p><i>If you have other clients or customers who need to complete an approved parenting course, please consider
    <a href="https://www.OurParentingClass.com" target="_blank">OurParentingClass.com</a>. We have an affiliate program
    and offer generous referral fees. Please email us at
    <a href="mailto:affiliate@ourparentingclass.com">affiliate@ourparentingclass.com</a> to learn more about our
    affiliate program.</i></p>
