<p>Hello {{student.name}}!</p>
<br/>
<p>Congratulations on completing your court required or recommended parenting class. Please find your Certificate of
    Completion attached!</p>
<p>You will need to provide this certificate to the court clerk (or your attorney if you are represented by an
    attorney). Some courts will not grant your divorce until both parents provide the certificate to them.</p>
<p>The court will usually accept the attached copy. Should you need an original certificate, for any reason,
    you can email us and request same. A modest shipping and handling fee is charged to cover the cost of printing and
    the priority mail fee.</p>
<p>Thank you again for using <a href="https://www.ourparentingclass.com/">OurParentingClass.com.</a></p>
<br/>
<p> Best Regards,<br/>
    Customer Service<br/>
    Our Parenting Class<br/>
    Email: <a href="mailto:support@ourparentingclass.com">support@ourparentingclass.com</a><br/>
    Phone: <a href="tel:7025095044">(702) 509-5044</a></p>
