<div fxFlex="grow"
     fxLayout="column"
     fxLayoutGap="10px"
     fxLayoutAlign="start start">
  <div mat-card-header>
    <h3>Card: {{data.title}}</h3>
  </div>
  <div mat-card-content>
    <div *ngIf="data.infoContent">
      {{data.infoContent}}
    </div>
    <div *ngIf="data.infoItems">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of data.infoItems">
          {{item.key}}: {{item.value}}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
